<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>3515536203-41ti6nhtd57g0fh5t7g0m4o2tak4jggo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.3515536203-41ti6nhtd57g0fh5t7g0m4o2tak4jggo</string>
	<key>API_KEY</key>
	<string>AIzaSyD9993LI8_MJAKvekp6ujYSV-qRELIaAcI</string>
	<key>GCM_SENDER_ID</key>
	<string>3515536203</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterLoginRegister</string>
	<key>PROJECT_ID</key>
	<string>login-y-registro-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>login-y-registro-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:3515536203:ios:bbf79010c2d936e2918ece</string>
</dict>
</plist>